body {
    background-color:antiquewhite;
}

h1 {
    color: red;
}

.columnas {
    column-count: 3;
    column-gap: 40px;
    background-color: antiquewhite;
    padding: 20px;
    column-rule: 2px solid red;
  }
  

.columnas::selection {
    background-color: yellow;
    color: blue;
}